.gante-container {
  display: flex;
  position: relative;
  .date-container {
    flex: 0;
    display: flex;
  }
  .item-container {
    position: absolute;
    flex: 1 0 0;
  }
  .date-container.vertical {
    flex-direction: column;
  }
}
.gante-container.horizontal {
  flex-direction: column;
}
